body{
    padding-top: 75px;
}
.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 2px 8px 0 rgba(0,0,0,.05);
}

.img-vantagens{
    height: 100px;
}

#home-quote{
    background: url('../img/bg-quote.jpg') center center;
    background-size:cover;
}

@media(max-width:768px){
   #home-quote .display-4{
       font-size: 2.5em;
   }
   body{
        padding-top: 0px;
   }

   .fixed-top{
       position: relative;
   }
}